###############################################################################
# Build Artifacts
###############################################################################
.artifacts/

###############################################################################
# NuGet
###############################################################################
*.lock.json
*.nuget.props
*.nuget.targets
.packages/
nuget.exe

###############################################################################
# Visual Studio
###############################################################################
.vs/
