###############################################################################
# Build Artifacts
###############################################################################
.artifacts/

###############################################################################
# Visual Studio
###############################################################################
.vs/
