###############################################################################
# Set default behavior to:
#   automatically normalize to Unix-style line endings on checkin, and
#   preserve Unix-style line endings on checkout
###############################################################################
*           text=auto   eol=lf

###############################################################################
# Set file behavior to:
#   treat as text, and
#   convert to Windows-style line endings on checkout
###############################################################################
*.props     text        eol=crlf
*.sln       text        eol=crlf
*.targets   text        eol=crlf

###############################################################################
# Set file behavior to:
#   treat as text
###############################################################################
*.md        text
*.ps1       text

###############################################################################
# Set file behavior to:
#   treat as binary
###############################################################################
*.snk       binary
